<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Title -->
    <title>updog - {{ paths[len-1] }}</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome-5.1/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/datatable/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.min.css') }}">
</head>
<script src="{{ url_for('static', filename='js/dropzone.min.js') }}"></script>
<script type="text/javascript">
function pop(div) {
	document.getElementById(div).style.display='block';
	document.getElementById('iframeGallery').src = window.location.href + '?gallery';
	return false;
}
function hide(div) {
	document.getElementById(div).style.display='none';
	return false;
}
</script>

<style>
#conn{
margin: 0 !important;
padding: 0 !important;
}
#conn.highlight {
  background-color: red;
}
#progress-bar{
width: 100%;
height: 5px;
margin-top: 0;
}
.parentDisable {
	z-index:999;
	width:100%;
	height:100%;
	display:none;
	position:absolute;
	top:0;
	left:0;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
.popin {
	width:90%;
	height:80%;
	margin: 0 auto;
	color: #000;
	background-color: #fff;
}
</style>


<body>

<div id="pop1" class="parentDisable">
		<div class="popin">
			<a href="#" onClick="return hide('pop1')">x</a>
			<iframe id='iframeGallery' url=".?gallery" height="100%" width="100%">
			</iframe>
		</div>
	</div>

<div class="conn">
    <!-- Header -->
    <header id="header" class="d-flex align_item_center">
        <div onclick="document.location='/'" class="logo_p">
            <img src="{{ url_for('static', filename='images/updog.png') }}" alt="updog">
        </div>

        <div class="heading_title_p">
            <h2>{% for i in range(0,len) %}{% if directories[i] != '' %}<a href="{{ url_for('home') }}.{{ directories[i] }}" style="text-decoration: underline;">{{paths[i]}}</a>{% else %}{{paths[i]}}{% endif %}/{% endfor %}</h2>
        </div>
		
    </header>

    {% if canModify %}
    <!-- ----- Upload Form ----- -->
    <div class="inputUploadP">
		<form action="{{ url_for('upload') }}" class="dropzone" id="updog-dropzone" method="POST" enctype="multipart/form-data">
			<input type="hidden" name="path" value="{{ directory }}"/>
		</form>
		<script>
		  // Here "updogDropzone" is the camelized id of the form.
		  Dropzone.options.updogDropzone = {
			uploadMultiple: false,
			filesizeBase: 1024,
			parallelUploads: 4,
			createImageThumbnails: false,
			maxThumbnailFilesize: 2,
			dictDefaultMessage: "Select files to upload",

			// The setting up of the dropzone
			init: function() {
				var myDropzone = this;

				this.on('success', function (file, json) {
				    setTimeout(function() {
					if (file.accepted == true) {
						myDropzone.removeFile(file);
					}
				    }, 2000);
				});

/*
				this.on("successmultiple", function(files, response) {
				  // Gets triggered when the files have successfully been sent.
					setTimeout(function(){window.location.reload(1);}, 2000);
				});
				this.on("errormultiple", function(files, response) {
				  // Gets triggered when there was an error sending the files.
				  // Maybe show form again, and notify user of error
					setTimeout(function(){window.location.reload(1);}, 2000);
				});
*/
            {% for file in files %}
				{% if not file.is_dir %}
				    // to show existing file, uncomment following line
					// myDropzone.displayExistingFile( { name: "{{ file.name }}", size: {{ file.size_sort }} }, "{{ file.rel_path }}" );
				{% endif %}
            {% endfor %}
    			}
		  };
		</script>
    </div>
    {% endif %}

    {% if is_subdirectory %}
    <section class="backBtn_p">
        <a href="{{ url_for('home') }}{{ back }}">
            <i class="fas fa-level-up-alt"></i>
            <span>Back</span>
        </a>
    </section>
    {% endif %}

<!--
<a href="#" onClick="return pop('pop1')">popin 1</a>
-->
    <!-- Table -->
    <section class="table_p table-responsive">
        <table id="tableData" class="table table-hover compact">
            <thead>
            <tr>
                <th width="4%"><!--Type (Directory or File)--></th>
                <th width="100">Preview</th>
                <th>Name</th>
                <th>Size</th>
                <th>Last Modified</th>
                {% if canModify %}
                <th>Actions</th> <!-- Actions (Copy, Delete, Rename) -->
                {% endif %}
                {% if zipAllow %}
                <th>Zip</th> <!-- Actions (Copy, Delete, Rename) -->
                {% endif %}
                {% if canExecute %}
                <th></th> <!-- Execute -->
                {% endif %}
                <th></th> <!-- View file -->
            </tr>
            </thead>
            <tbody>
            {% for file in files %}
            <tr>
                <td> <!-- Icon -->
                    {% if file.is_dir %}
                    <button class="file_ic"><i class="far fa-folder"></i></button><!-- Directory icon -->
                    {% else %}
                    <button class="file_ic"><i class="far fa-file"></i></button><!-- File icon -->
                    {% endif %}
                </td>
                <td> <!-- Preview -->
                    {% if not file.is_dir %}
                    <img height="100" src="{{ url_for('home') }}{{ file.rel_path }}?preview" />
                    {% endif %}
                </td>
                <td> <!-- Name -->
                    <a href="{{ url_for('home') }}{{ file.rel_path }}">{{ file.name }}{% if file.is_dir %}/{% endif %}</a>
                </td>
                <td data-order="{{ file.size_sort }}"> <!-- File size -->
                    {{ file.size }}
                </td>
                <td data-order="{{ file.last_modified_sort }}"> <!-- File last modified -->
                    {{ file.last_modified }}
                </td>
                {% if canModify %}
                    <td> <!-- File last modified -->
                        {% if file.can_write %}
                            <a href="#" alt='Delete file' onclick="return deleteFile('{{ file.name }}')">Del</a> <!-- delete -->
                            <a href="#" alt='Rename file' onclick="return renameFile('{{ file.name }}')">Ren</a> <!-- rename -->
                            <a href="#" alt='Copy file' onclick="return copyFile('{{ file.name }}')">Cp</a> <!-- copy -->
                         {% endif %}
                    </td>
                {% endif %}
                {% if zipAllow %}
                    <td> <!-- File last modified -->
                        <a href="/{{ file.rel_path }}?zip" alt='Download as Zip'>Z</a>
                    </td>
                {% endif %}
                {% if canExecute %}
                    <td>
                        {% if file.can_execute %}
                            <a href="#" alt='Execute file' onclick="return executeFile('{{ file.name }}')">Exe</a> <!-- EXECUTE -->
                        {% endif %}
                    </td>
                {% endif %}
                <td> <!-- View file -->
                    {% if not file.is_dir %}
                    <a href="/{{ file.rel_path }}?view">View</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

{% if canModify %}
<button class="uploadBtn btn btn-primary" onclick="newDir()">New Folder</button>
{% endif %}
    <footer>
		{% if killable %}
			<button alt='Kill this server!!' onclick="killServer()">#Kill Server#</button>
		{% endif %}
        <p>
            updog v{{ version }}
        </p>
    </footer>

</div> <!-- end class conn -->
{% if canModify or canExecute %}
<form method="post" action="{{ url_for('fileAction') }}" id="fileAction">
<input type="hidden" name="path" value="{{ directory }}">
<input type="hidden" name="file" value="">
<input type="hidden" name="action" value="">
<input type="hidden" name="newName" value="">
</form>
{% endif %}
<!-- Scripts -->
<script type="text/javascript">
{% if killable %}
function killServer(){
    if(confirm('Are you sure you want to terminate the updog server?'))
        window.location.href='/?stop';
}
{% endif %}
{% if canModify %}

var form = document.getElementById('fileAction');
function renameFile(fileName){
    var nname = prompt('Please enter a new name:', fileName);
    
    if (nname != null && nname != ''){
        //send back to server rename action with the new name
        form.action.value = 'rename';
        form.file.value = fileName;
        form.newName.value = nname;
        form.submit();
    }
    return false;
}
function copyFile(fileName){
    var nname = prompt('Please enter the name of the duplicate:', fileName);
    
    if (nname != null && nname != '' && nname != fileName){
        //send back to server the name of the duplicate
        form.action.value = 'copy';
        form.file.value = fileName;
        form.newName.value = nname;
        form.submit();
    }
    return false;
}
function deleteFile(fileName){
    if(confirm('Are you sure you want to delete file "' + fileName + '"?')){
        //send back to server delete this file
        form.action.value = 'delete';
        form.file.value = fileName;
        form.submit();
    }
    return false;
}
function newDir(){
    var nname = prompt('Please enter the name for the new directory:');
    
    var folderPresent = [{% for file in files %}{% if file.is_dir %}'{{ file.name }}',{% endif %}{% endfor %}''];
    
    if (nname != null && nname != ''){
        if(folderPresent.includes(nname)){
            alert('A directory with that name already exists.');
            return false;
        }else{
            //send back to server new directory request
            form.action.value = 'newFolder';
            form.file.value = nname;
            form.submit();
        }
    }
}
{% endif %}
{% if canExecute %}
var form = document.getElementById('fileAction');
function executeFile(fileName){
    if(confirm('Are you sure you want to execute file "' + fileName + '"?')){
        //send back to server execute this file
        form.action.value = 'execute';
        form.file.value = fileName;
        form.submit();
    }
    return false;
}
{% endif %}
</script>
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatable/datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
